*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    margin-bottom: 0;
}
.card {
    min-height: 473px;
    max-height: 573px;
    display: flex;
    margin-bottom: 20px;
}
.card-img-top {
    height: 264px;
}
.price {
    font-size: 24px;
    font-weight: bold;
    color: rgb(43, 14, 13);
}
.btn-sort {
    color: #fff;
    background-color: rgb(204, 149, 226);
}
.btn-check:checked + .btn-sort {
    background-color: rgb(143, 0, 199);
}
.btn-sort:hover {
    color: #fff;
    background-color: rgb(171, 91, 241);
}
